  @if (userLoginOn) {
    <app-home></app-home>
  } @else {
    <form [formGroup]="loginForm" (ngSubmit)="FormUserSubmit()" class="login">  
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input type="text" formControlName="user" matInput placeholder="Ingrese su usuario">
          <mat-hint>*Campo obligatorio</mat-hint>      
          <mat-icon matSuffix>person</mat-icon>    
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Clave</mat-label>
          <input type="password" formControlName="pass" matInput placeholder="Ingrese su clave" password>
          <mat-hint>*Campo obligatorio</mat-hint>      
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <button type="submit" mat-fab extended color="primary" [disabled]="!loginForm.valid">  
          Ingresar
          <mat-icon>verified_user</mat-icon>
        </button>
      </p>
    </form>
  }